<% content_for :localnav do %>
	<h2><%=h @user.username.capitalize %>'s Snuffles</h2>
<% end %>

<div id="u_snuffles">
	<% if logged_in? %>  
		<%= link_to 'New', new_item_path, :id => 'newSnuff', :class => @viewSize %>
	<% end %>	
	<%= render(:partial => "items/item", :collection => @items) %>
</div>

<%= will_paginate(@items) %>

<!--% render(:partial => 'users/favs') %-->

<% content_for :col2 do %>

    <h3 class="first"><% if @itsmyAccount %>My<% else %><%=@user.username.capitalize %>'s<% end %> Projects</h3>

	<div id="u_projects" class="projects">
		<ul>
		<% @user.projects.each do |p|%>
			<li><%= link_to p.name, p, :style => "padding-right:#{p.items.size*5+20}px" %></li>
		<% end %>
		</ul>
	</div>
	
	<% if @itsmyAccount %>
		<div class="col2button"><%= link_to 'Create one', new_project_path %></div>	
	<% end %>
	
	<!-- tags --><!-- i know this is bad code! -->
	<h3>Tags</h3>
	<div id="u_projects" class="tags">
		<% @myTags = Array.new %>
	
	    <% @items.each do |item| %>
	    	<% item.tags.each do |tag| %>
				<% @myTags << tag %>
			<% end %>
		<% end %>

	    <% @myTags = @myTags.uniq %>
	
		<ul>
		<% @myTags.each do |tag| %>
			<li><%= link_to tag.name, :controller => 'items' ,:action => 'tag', :id => tag.name %></li>
		<% end %>
		</ul>
	</div>
	<!-- /tags -->

<% end %>