<% content_for :localnav do %>
	<h2><%=h @user.username.capitalize %>'s Snuffles</h2>
<% end %>

<div>
	<% if logged_in? %>  
		<%= link_to 'New', new_item_path, :id => 'newSnuff', :class => @viewSize %>
	<% end %>	
	<%= render(:partial => "items/item", :collection => @items) %>
</div>

<div>
	<h3>Favs:</h3>
	<%= render(:partial => "items/item", :collection => @collectionArray) %>
</div>

<%= link_to "&lt; Back", :back %>