<h2><%=h @user.username %></h2>

<% if logged_in? %>  
	<%= link_to 'New', new_item_path, :id => 'newSnuff' %>
<% end %>

<%= render(:partial => "items/item", :collection => @items) %>
<%= render(:partial => "items/item", :collection => @collectionArray) %>

<%= will_paginate(@items) %>
<%= pageless(@items.total_pages, items_path) %>

<%= link_to "&lt; Back", :back %>