<% content_for :localnav do %>
	<h2><%=h @user.username.capitalize %>'s Snuffles</h2>
<% end %>

<div id="u_snuffles">
	<% if logged_in? %>  
		<%= link_to 'New', new_item_path, :id => 'newSnuff', :class => @viewSize %>
	<% end %>	
	<%= render(:partial => "items/item", :collection => @items) %>
</div>

<% if !@collectionArray.empty? %>
	<div id="u_favs">
		<h3>Favs:</h3>
		<%= render(:partial => "items/item", :collection => @collectionArray) %>
	</div>
<% end %>

<br/><br/>

<% content_for :col2 do %>
    <h3>Projects</h3>
	<div id="u_projects">
		<ul>
		<% @user.projects.each do |p|%>
			<li><%= link_to p.name, p %></li>
		<% end %>
		</ul>
	</div>
<% end %>