<% content_for :localnav do %>
	<h2><%=h @user.username.capitalize %>'s Snuffles</h2>
<% end %>

<% if logged_in? %>  
	<%= link_to 'New', new_item_path, :id => 'newSnuff' %>
<% end %>

My Snuffles:
<%= render(:partial => "items/item", :collection => @items) %>
My Favs:
<%= render(:partial => "items/item", :collection => @collectionArray) %>

<%= will_paginate(@items) %>
<%= pageless(@items.total_pages, items_path) %>

<%= link_to "&lt; Back", :back %>