<% content_for :localnav do %>
	<h2>Project: <%=h @project.name %></h2>
<% end %>

<%= render(:partial => "items/item", :collection => @project.items) %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<% content_for :col2 do %>
	<b>Project:</b> <%=@project.name%><br/>
	<b>Owner:</b> <%=link_to @project.user.username, @project.user %><br/>
<% end %>