<% if item.photo.exists? then %>

	<div class="snuffWrap">
		<div class="snuffContentWrap" id="snuffle-<%=item.id%>">
			<%= link_to (image_tag item.photo.url(:thumb)), item, :class => 'snuffImg' %>
			<div class="snuffDetails">
				<div class="snuffDetailsFrom">
					<%= link_to item.user.username, user_path(item.user) %>
					<%= link_to 'host', item.from if item.from != "" -%>
					<%= render(:partial => "items/item_pick", :locals => { :item => item })%>
				</div>
				<!--%= render(:partial => "items/item_moderate", :locals => { :item => item })%-->
			</div>
		</div>
		<%= link_to item.name[0,15], item, :class => 'snuffName' %>
	</div>
	
<% end %>