<% content_for :localnav do %>
	<h2><%=@headline%></h2>
<% end %>

<% if logged_in? %>  
	<%= link_to 'New', new_item_path, :id => 'newSnuff', :class => @viewSize %>
<% end %>

<%= render(:partial => "item", :collection => @items) %>

<%= will_paginate(@items) %>
<%= pageless(@items, items_path) %>