<% content_for :localnav do %>
	<h2><%=h @item.name %></h2>
<% end %>

<div id="showWrap">
	<% if @item.photo.exists? then %>
		<div id="showImageWrap">
			<div id="topOptions">
				<div class="topOptionsLeft"></div>
				<div class="topOptionsRight"><%= link_to('View Original',@item.photo.url(:original))%></div>
			</div>
			<%= image_tag @item.photo.url(:large) %>
		</div>
	<% else %>
		<p> Whae? There are no photo's attached!</p>
	<% end %>

	<% if @item.tags.empty? != true %>
		<div id="showTags">
			<strong>Tags:</strong> 
			<% for tag in @item.tags %> 
				<%= link_to tag.name, :action => 'tag', :id => tag.name %>
			<% end %>
		</div>
	<% end %>
</div>

<div class="clear"> </div>

<%= link_to 'Host', @item.from if @item.from != "" %>

<% if logged_in? %> 
	<% if (@item.user_id == current_user.id) || current_user.has_role?('Admin') %>
		<%= link_to 'Edit', edit_item_path(@item) if logged_in?  %>
		<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<% end %>

<%= link_to 'Back', items_path %>


	