<% content_for :localnav do %>
	<h2><%=h @item.name %></h2>
<% end %>

<div id="showWrap">
	
	<!-- Display the Snuffl -->
	<!-- Zitat: So if you're using current_page? in a view or in another helper,
		 you're on the right track, in terms of "doing the right thing". -->
	
	<% if @item.photo.exists? %>
		<div id="showImageWrap">
			<!-- handle normal / original view -->
			<% current_page?(:view => 'original')? @size = :original : @size = :large %>
			<% if current_page?(:view => 'original')  %>
			<%= link_to(image_tag(@item.photo.url(@size)))%>
			<% else %>
			<%= link_to(image_tag(@item.photo.url(@size)), :view => "original")%>
			<% end %>
		</div>
	<% else %>
		<!--<p>There are no photo's attached!</p>-->
	<% end %>
	
	<% if @item.blurber? %>
		<div id="showBlurbWrap">
			<%=@item.blurber%>
		</div>	
	<% end %>

</div>
	
<div class="clear"> </div>

<div id="navOption">
	
	<% if current_page?(:view => 'original') %>
		<%= link_to('View Normal' )%>
	<% else %>
		<%= link_to('View Original', :view => "original" )%>
	<% end %>	
	
	<div class="back"><%= link_to 'Back', items_path %></div>

	<% if logged_in? %> 
		<% if (@item.user_id == current_user.id) || current_user.has_role?('Admin') %>
			<div class="edit"><%= link_to 'Edit', edit_item_path(@item) if logged_in?  %></div>
			<div class="destroy"><%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %></div>
		<% end %>
	<% end %>
	
	<%= render(:partial => "item_pick", :locals => { :item => @item })%>
		
	<div class="prev"><a href="#">Prev.</a></div>
	<div class="host"><%= link_to 'Host', @item.from if @item.from != "" %></div>
	<div class="next"><a href="#">Next</a></div>
</div>

<% content_for :col2 do %>
	<!-- Tags -->
	<% if @item.tags.empty? != true %>
		<div id="showTags">
			<strong>Filed under:</strong> 
			<% for tag in @item.tags %> 
				<%= link_to tag.name, :action => 'tag', :id => tag.name %>
			<% end %>
		</div>
	<% end %>
	
	<!-- Pickers -->

	

<% end %>

