<h2><%=h @item.name %></h2>
<%=h @item.image_remote_url %>

<% if @item.photo.exists? then %>
	<p><%= image_tag @item.photo.url(:large) %></p>
<% else %>
	<p> Whae? There are no photo's attached!</p>
<% end %>

<%= link_to 'Host', @item.from if @item.from != "" %>
<%= link_to 'Edit', edit_item_path(@item) if logged_in?  %>
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Back', items_path %>
	