<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Snuffler <%= yield :title %></title>
	<link rel="alternate" type="application/atom+xml" title="RSS" href="items.rss" />
    <%= stylesheet_link_tag 'small' -%>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
    <%= javascript_include_tag 'jquery-1.4a1.min', 'jquery.pageless', 'jquery.hoverIntent.min.js', 'application' -%>
  </head>

  <body id="<%=@bodyClass%>">

	<%= render "layouts/header" %>

	<div id="page">
		<div id="col1">
 			<%= render "layouts/notifications" %>			
    		<div id="results">
				<%= yield :localnav %>
				<%= yield  %>
    		</div>	
    	</div>
		<div id="col2">
			<%= yield :col2 %>
		</div>
	</div>
	
	<div id="footer"></div>
		

	<%= render "layouts/ga" %>
	
  </body>
</html>
